In [11]:
import pandas as pd
import numpy as np
from pathlib import Path

In [12]:
carpeta_data = Path("./data")
test = []
train = []
for carpeta in carpeta_data.iterdir():
    if carpeta.name == "__MACOSX":
        continue

    print(carpeta)
    for estado in carpeta.iterdir():
        if estado.name == ".DS_Store":
            continue

        print("\t", estado)
        for archivo in estado.glob("*.txt"):
            frase = archivo.read_text()
            sentimiento = estado.name
            if carpeta.name == "test":
                test.append((frase, sentimiento))

            if carpeta.name == "train":
                train.append((frase, sentimiento))

data\test
	 data\test\negative
	 data\test\neutral
	 data\test\positive
data\train
	 data\train\negative
	 data\train\neutral
	 data\train\positive

In [13]:
test[:3]

[('Jan. 6 -- Ford is struggling in the face of slowing truck and SUV sales and a surfeit of up-to-date , gotta-have cars ',
  'negative'),
 ('( ADPnews ) - Feb 3 , 2010 - Finland-based steel maker Rautaruukki Oyj ( HEL : RTRKS ) , or Ruukki , said today it slipped to a larger-than-expected pretax loss of EUR 46 million ( USD 64.5 m ) in the fourth quarter of 2009 from ',
  'negative'),
 ('In Q2 of 2009 , profit before taxes amounted to EUR 13.6 mn , down from EUR 26.8 mn in Q2 of 2008 ',
  'negative')]

In [17]:
test[0][2].read_text()

IndexError: tuple index out of range

In [15]:
test_df = pd.DataFrame(test, columns=["phrase", "sentiment"])
train_df = pd.DataFrame(train, columns=["phrase", "sentiment"])

In [16]:
train_df.to_csv("train_dataset.csv", index=False)
test_df.to_csv("test_dataset.csv", index=False)